.formulario {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    border-right: 1px solid grey;
}

.formulario_titulo {
    padding: 2%;
    margin: 10% 2% 0 2%;
}
.formulario_titulo:nth-child(2) {
    margin-top: 2%;
}
.formulario_texto {
    padding: 2%;
    margin: 2%;
}

.formulario_botao {
    width: 50%;
    margin: 2%;
}
